{% extends 'base.html' %} 
{% load static %} 
{% block title %} SignUp 
{% endblock title %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />

<div class="container">
  <div class="wrapper">
    <img src="{% static 'images/logo.png' %}"  alt="error"/>
    <h2>Register for new account</h2>
    <p>Track and manage the attendance and working hours of employees</p>
    <form class="form" method ="POST" action="{% url 'signup_page' %}">
        {% csrf_token %}
        <div class="input-field">
            <label for="">Name*</label>
            <input type="text" id="name" name="name" placeholder="Name" />
        </div>
        <div class="input-field">
            <label for="">Email*</label>
            <input type="email" id="email" name="email" placeholder="Email" />
        </div>
        <div class="input-field">
            <label for="">Password*</label>
            <input type="password" id="password" name="password" placeholder="Password" />
        </div>
        <div class="input-field">
            <label for="">Confirm Password*</label>
            <input type="password" id="password2" name="passwor2" placeholder="Confirm Password" />
        </div>
        <div class="button"> 
            <button type = "submit">Register</button>
        </div>
        <div class="have-account">
            <p>Already You Have an Account <a href="{% url 'signin_page' %}">Sing In</a></p>
        </div>
        {% include "message.html" %}
    </form>
    
  </div>
</div>

{% endblock content %}
