{% extends 'base.html' %}
{% load static %}

{% block title %}Report{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/info.css' %}" />
<!-- <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script> -->


{% include "navebar.html" %}
<div class = "container">
    <div class = "wrapper">
        <h1>التقرير الشهري</h1>
        
        <div class = "intro">
            <form action="{% url 'month-info' %}" method="POST">
                {% csrf_token %}
                <div class="search">
                    <input type="month" name="search" />
                    <input type="number" name="civil"  placeholder="البحث بالرقم المدني"/>
                    <button class="submit">بحث</button>
                </div>
            </form>
    
            {% if existing_user %}
                    <button id="pdf-buttton" class="submit-pdf">طباعه</button>
            {% endif %}
        </div>

        <div class="result">
            {% if existing_user %}
            <div class="user-info">
                <p>{{one_employee.created_date.date|date:"Y-m"}}  :التاريخ</p>
                <p>{{one_employee.department}}  :القسم</p>
                <p>{{one_employee.name}}  :الأسم</p>
            </div>
            {% endif %}
            <div class="error">
                {% if existing_user %}
            </div>
            <div dir = "rtl" class = "table-container">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>اليوم</th>
                            <th>وقت الدخول</th>
                            <th>مدة التاخير الصباحي</th>
                            <th>الأستئذان الأول</th>
                            <th>الأستئذان الثاني</th>
                            <th>الأستئذان الثالث</th>
                            <th>مدةالأستئذان وقت الدوام</th>
                            <th>وقت الخروج المتوقع</th>
                            <th>وقت الخروج النهائي</th>
                            <th>مدة الخروج المبكر</th>
                            <th>مجموع ساعات الأستئذان الكلية</th>
                            <th>مدة تواجد الموظف في العمل</th>
                            <th>الحالة</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        {% for employee in employee_today %}
                        <tr>
                            <td>{{employee.created_date.day|add:1}}</td>
                            <td>{{employee.enterance_time|time:"H:i"}}</td>
                            <td>{{employee.calculate_morning_delay_time}}</td>
                            <td>{{employee.permission_leaving_time|time:"H:i"}}<br/>{{employee.permission_entering_time|time:"H:i"}}</td>
                            <td>{{employee.permission_leaving_time_2|time:"H:i"}}<br/>{{employee.permission_entering_time_2|time:"H:i"}}</td>
                            <td>{{employee.permission_leaving_time_3|time:"H:i"}}<br/>{{employee.permission_entering_time_3|time:"H:i"}}</td>
                            <td id="perm-duration-day">{{employee.permission_duration_for_month_report}}</td>
                            <td>{{employee.expected_leaving_time}}</td>
                            <td>{{employee.final_leaving_time|time:"H:i"}}</td>
                            <td>{{employee.early_leaving_time}}</td>
                            <td>{{employee.whole_permission_duration_for_month}}</td>
                            <td>{{employee.staying_in_job_duration}}</td>
                            <td>{{employee.staying_condition}}</td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if existing_user %}
                <div class="user-info">
                    <p class = "item-inside">وقت الأستئذان الكلي خلال الشهر<span>({{result_time_for_whole_month_permissions}})</span></p>
                    <p class = "item-inside">جموع ساعات الأستئذان وقت الدوام<span>({{result_time_for_small_permissions}})</span></p>
                    <p class = "item-inside">عدد مرات الأستئذان خلال الشهر <span>({{permit_number_month}})</span></p>
                </div>
            {% endif %}
            {% endif %}
            {% include "message.html" %}
        </div>


    </div>
    <script src="{% static 'javascript/githack.js' %}"></script>
    <script src="{% static 'javascript/info.js' %}"></script>
</div>
{% endblock content %}
